<footer
	style="
		text-align: center;
		padding: 10px 0;
		background-color: #f8f9fa;
		color: #333;
	"
>
	<p>&copy; 2024 Tiationg Kho. All rights reserved.</p>
	<div style="margin-top: 10px">
		<a
			href="https://github.com/tiationg-kho"
			target="_blank"
			style="margin: 0 10px; text-decoration: none; color: #333"
			class="social-icon"
		>
			<i class="fab fa-github" style="font-size: 24px"></i>
		</a>
		<a
			href="https://www.linkedin.com/in/tiationgkho/"
			target="_blank"
			style="margin: 0 10px; text-decoration: none; color: #333"
			class="social-icon"
		>
			<i class="fab fa-linkedin" style="font-size: 24px"></i>
		</a>
		<a
			href="mailto:tiationgkho@gmail.com"
			target="_blank"
			style="margin: 0 10px; text-decoration: none; color: #333"
			class="social-icon"
		>
			<i class="fa fa-envelope" style="font-size: 24px"></i>
		</a>
	</div>
</footer>
